<h1>Emiko</h1>

<p>Formulario de registro</p>

<%= form_tag (pages_x_path) do %>
	<%= label_tag 'nombre' %>
	<br>
	<%= text_field_tag 'nombre' %>
	<br>
	<%= label_tag 'email' %>
	<br>
	<%= text_field_tag 'email' %>
	<br>
	<%= label_tag 'edad' %>
	<br>
	<%= text_field_tag 'edad' %>
	<br>
	<%= submit_tag 'Enviar' %>

<% end %>



html { 
  background: url('<%= asset_path "batman.jpeg" %>') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

<script type="text/javascript">
  $.backstretch(url('<%= asset_path "batman.jpeg" %>'), {speed: 150});
</script>
